* {
    margin: 0px;
    padding: 0px;
}
.main {
    margin-left: 1rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    grid-auto-rows: 100px;
    grid-template-areas:
      "a d d d d c "
      "a d d d d c"
      "b d d d d c"
      "b e e e e c";
    /* grid-template-columns: 100px 80px 100px; */
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 80px auto 80px; 
    column-gap: 10px;
    row-gap: 15px;
}
table {
    text-align: center
}
.memory-container {
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80vh;
    width: 250px;
    overflow-y: auto;
    border-collapse: collapse;
}
.registers-flags {
    display: flex;
    padding: 1rem;
    flex-direction: column;
}
.code-container {
    display: flex;
    flex-direction: row;
}
.controls-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding-top: 1rem;
    min-height: 250px;
}
.controls-container .button-head {
    padding: 1rem;
}
#track {
    width: 10%;
    resize: none;
    align-content: right;
}
@media only screen and (min-width: 1080px) {
    #track {
        width: 5%;
    }
}
.code-box {
    outline: 0px;
    white-space: break-spaces;
    min-height: 400px;
    resize: none;
    width: 100%;
}
textarea {
    margin-top: 0.5rem;
    padding: 0.5rem;
    resize: none;
}
textarea:focus-visible{
    outline: 0px;
}
