{% extends "base.html" %}
{% block title %}8085 Simulator {% endblock %}
{% block head %}
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="/static/script.js"></script>
{% endblock %}
{% block body %}
<div class="main">
    <div class="registers-flags" id="registers-flags">
        {% include "render_registers_flags.html" %}
    </div>
    <div class="memory-container" style="grid-area: c;" id="memory-container">
        {% include "render_memory.html" %}
    </div>

    <div class="code-container" style="grid-area: d;">
        <div class="button-head">
            <button type="button" class="btn btn-primary btn-sm" id="assemble">Assemble</button>
            <button type="button" class="btn btn-success btn-sm" id="run">Run</button>
            <button type="button" class="btn btn-secondary btn-sm" id="step">Step</button>
            <button type="button" class="btn btn-danger btn-sm" id="reset">Reset</button>
        </div>
        <div class="form-group">
            <div class="code-box form-control bg-dark text-white border-secondary" id="code" contenteditable="true" -->
            </div>
            <!-- <textarea class="form-control bg-dark text-white border-secondary" name="code" id="code" rows="25"
                style="max-width: 100%;" autocomplete="new-password"></textarea> -->
        </div>
    </div>
    <div class="assembler-container text-white w-50" style="grid-area: e" id="assembler-container">
        {% include "render_assembler.html" %}
    </div>
</div>
{% endblock %}